{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>base</title>
</head>
<body>
    <section class="contenedorLogin">
        <div class="bloque">
            <img src="/static/img/Logo-FemCodersF5-color-1024x764 (3).png" class="logo">
        </div>
        <div class="content">
 <p>Inicio de sesión requerido</p>

    <form method="POST">
        {% csrf_token %}
            <input type="text" name="username" placeholder="Usuario"><br>
            <input type="password" name="password" placeholder="Contraseña"><br><br>
        <button type="submit">Iniciar sesión</button><br><br>
        <div>
            <a href="{% url 'registro' %}">Registrar Usuario</a>
        </div>
    </form>
    </section>
</body>
</html>
