
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>base</title>
</head>
<body>
    <section class="contenedorLogin">
        <div class="bloque">
            <img src="/static/img/Logo-FemCodersF5-color-1024x764 (3).png" class="logo">
        </div>
        <div class="content">
    <form method="POST">
        {% csrf_token %}
      <h1>Registrar persona</h1>
      <table>
        {{form}}
      </table>
      <button type="submit">Enviar</button>
      <!--variable para pasar validación-->
  </form>
        </div>
    </section>
</body>
</html>