{% load static %}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    flex-direction: column;
    font-family: Arial;
}
footer{
    position:relative;
    width: 804px;
    height: 100px;
    display: block;
    padding: 5px;

}
.contenedorLogin{

    width: 900px;
    height: 700px;
    bottom: 145px;
    background: F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.bloque{
    width: 804px;
    height: 150px;
}
.logo{
    display:block;
    padding: 30px;
    float:right;
    width: 113px;
    height: 85px;

}

.bloqueiconos{
    display:block;
    padding: 30px;
    float:right;
}
.content{
    text-align: center;
    display: block;
}

.cont-menu{
    font-size: 20px;
}

.dentro-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.dentro-cont a{
    align-items: center;
    color: tomato;
    text-decoration: none;
}

.enlacefinal {
    margin-top: 400px;
}

.enlacefinal2{
    margin-top: 250px;
}

body ul li {
    text-decoration: none;
}


